# =================================================================
# JetBrains IDEs (IntelliJ, PyCharm, etc.)
# =================================================================
# IDE项目配置文件
.idea
*.iws
*.iml
*.ipr

# 编译输出目录
target/
!**/src/main/**/target/
!**/src/test/**/target/

# =================================================================
# Build Files & Logs
# =================================================================
# 日志文件
*.log
*.log.*

# 临时文件
*.tmp

# =================================================================
# Operating System Files
# =================================================================
# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# =================================================================
# Sensitive Information (非常重要!)
# =================================================================
# 不要提交包含密码的配置文件，但可以提交一个模板文件
# 例如，你可以创建一个 application-example.yml 文件作为模板
# 然后把 application.yml 加入忽略列表
# application.yml

# 临时环境变量文件
.env